* {
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-color: rgb(193, 126, 255);
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}


div, main{
    margin-top:50px;
    background: white;
    padding: 20px 40px;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);

}

div, main {
    height: auto;
}


.imgtec{
    float: right;
}

img{
    max-width: 100%;
    height: auto;
}



h1{
    text-align: center;
}



.cursovideologo, .jsvideo, .htmlvideo, .btn-back{
    display:block;
    margin:0 auto;
}

/* MOBILE */
@media(max-width: 600px){
    body{
        align-items: flex-start;
    }
    .imgtec{
        float: none;
        display: block;
        margin: 20px auto;
        width: 80%
    }
    div, main{
        padding: 20px;
    }
}