* {
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-color: rgb(193, 126, 255);
}


main{
    background-color: white;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.453);

}