* {
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-color: rgb(193, 126, 255);
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: center;
}


main{
    background-color: white;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.453);

}


.imgtec{
    float: right;
}

div, main{
    margin-top:50px;
    background: white;
    padding: 20px 40px;
    height: 600px !important;
    width: 600px !important;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);

}

h1{
    text-align: center;
}



.cursovideologo, .jsvideo, .htmlvideo, .btn-back{
    display:block;
    margin:0 auto;
}

